# Ignore binary file
pajbot2
*.exe
*.exe~
/bot

# Ignore config files
config.json

# Ignore web Files
web/node_modules
web/static/build

# Various
.DS_Store
.vscode/

# Coverage files
coverage.out
coverage.html
