body {
    font-family: 'Arial', sans-serif;
    padding-top: 1em;
}

.report .channel.twitch {
    padding-left: 1.3em;
    margin-right: 1em;
    background: url('/static/Glitch_Purple_RGB.svg');
    background-repeat: no-repeat;
}

.report .reporter, .report .target {
    font-weight: 800;
}

.report {
    min-height: 100px;
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

    -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
    transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.report.removing {
    height: 0px;
    opacity: 0;
}

.report .reason {
    font-style: italic;
}

.report pre.logs {
    font-family: sans-serif;
}

i.icon.twitch {
    display: inline-block;
    background: url('/static/Glitch_White_RGB.svg');
    background-repeat: no-repeat;
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.btn-twitch {
    background-color: #6441A4;
    color: #fff;
}

.btn-twitch:hover {
    background-color: rgb(80, 52, 131);
}
