@use '../variables/spacing';

.dashboard {
  padding: spacing.$spacing-XXL;

  .reports {
    margin-top: spacing.$spacing-XL;

    .report {
      min-height: 100px;
      -webkit-transition: all 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
      -moz-transition: all 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
      -o-transition: all 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
      transition: all 500ms cubic-bezier(0.25, 0.1, 0.25, 1); /* ease (default) */

      -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
      -moz-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
      -o-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
      transition-timing-function: cubic-bezier(
        0.25,
        0.1,
        0.25,
        1
      ); /* ease (default) */

      .removing {
        height: 0px;
        opacity: 0;
      }

      .reporter,
      .target {
        font-weight: 800;
      }

      .reason {
        font-style: italic;
      }

      pre.logs {
        font-family: sans-serif;
      }
    }
  }

  .results.loading {
    opacity: 0.5;
  }
}
