.dashboard {
    padding: $spacing-XXL;

    .reports {
        margin-top: $spacing-XL;
    
        .report {
            min-height: 100px;
            -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
            -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
            transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
        
            -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
            -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
            -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
            transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
        
            .removing {
                height: 0px;
                opacity: 0;
            }
        
            .reporter, .target {
                font-weight: 800;
            }
        
            .reason {
                font-style: italic;
            }
        
            pre.logs {
                font-family: sans-serif;
            }
        }
    }
}



