---
name: Lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go: [1.15, 1.16]

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2.1.4
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2.4.0

      - name: Install linter
        run: go install honnef.co/go/tools/cmd/staticcheck

      - name: Lint
        run: staticcheck ./...
