---
name: Build web

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build web
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: ['14', '16', '18']

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - working-directory: ./web
        run: npm ci

      - working-directory: ./web
        run: npm run check_formatting

      - working-directory: ./web
        run: npm run build
