name: Build web
on: [push, pull_request]
jobs:

  build:
    name: Build web
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: ['12', '14']

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2.3.4

      - name: Set up Go
        uses: actions/setup-node@v2.1.2
        with:
          node-version: ${{ matrix.node }}

      - working-directory: ./web
        run: npm ci

      - working-directory: ./web
        run: npm run build
